<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.navego360.credito">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="com.targetmaps.navego360.permRead" />
    <uses-permission android:name="com.targetmaps.navego360.permWrite" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--<intent-filter>-->
                <!--<action android:name="com.targetmaps.navego360.SPLASH"/>-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->

        </activity>
        <activity android:name=".ui.offertypes.OfferTypesActivity"/>
        <activity android:name=".ui.offers.OffersActivity" />
        <activity
            android:name=".ui.ExitActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:autoRemoveFromRecents="true"
            tools:ignore="UnusedAttribute" />
    </application>

</manifest>